
.vs/VSRGEditor/v16/.suo
*.db
.vs/VSRGEditor/v16/Browse.VC.opendb
.vs/VSRGEditor/v16/ipch/AutoPCH/12995cc1971b28e5/BASEENGINE.ipch
.vs/VSRGEditor/v16/ipch/AutoPCH/df7eab76c0c3bfec/MAIN.ipch
.vs/VSRGEditor/v16/Solution.VC.db-shm
.vs/VSRGEditor/v16/Solution.VC.db-wal
addons.make
bin/imgui.ini
bin/VSRGEditor_debug.exe
bin/VSRGEditor_debug.exp
bin/VSRGEditor_debug.ilk
bin/VSRGEditor_debug.lib
bin/VSRGEditor_debug.pdb
icon.aps
icon.rc
obj/Win32/Debug/BaseEngine.obj
obj/Win32/Debug/BaseTheme.obj
obj/Win32/Debug/BPMLineHandler.obj
obj/Win32/Debug/ChartEditor.obj
obj/Win32/Debug/ChartResourceImporter.obj
obj/Win32/Debug/EditorConfig.obj
obj/Win32/Debug/EngineGLFW.obj
obj/Win32/Debug/EngineOpenGLES.obj
obj/Win32/Debug/EngineVk.obj
obj/Win32/Debug/Gui.obj
obj/Win32/Debug/Helpers.obj
obj/Win32/Debug/icon.res
obj/Win32/Debug/imgui.obj
obj/Win32/Debug/imgui_demo.obj
obj/Win32/Debug/imgui_draw.obj
obj/Win32/Debug/main.obj
obj/Win32/Debug/NoteHandler.obj
obj/Win32/Debug/ofApp.obj
obj/Win32/Debug/ofxImGuiLoggerChannel.obj
obj/Win32/Debug/SongTimeHandler.obj
obj/Win32/Debug/vc142.pdb
obj/Win32/Debug/VSRGEditor.log
obj/Win32/Debug/VSRGEditor.tlog/CL.40312.write.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/CL.command.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/CL.read.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/link.command.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/link.read.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/link.write.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/rc.command.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/rc.read.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/rc.write.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/VSRGEditor.lastbuildstate
obj/Win32/Debug/VSRGEditor.tlog/VSRGEditor.write.1u.tlog
VSRGEditor.sln
VSRGEditor.vcxproj
VSRGEditor.vcxproj.filters
VSRGEditor.vcxproj.user
obj/Win32/Release/VSRGEditor.tlog/VSRGEditor.write.1u.tlog
obj/Win32/Release/VSRGEditor.tlog/VSRGEditor.lastbuildstate
obj/Win32/Release/VSRGEditor.tlog/rc.write.1.tlog
obj/Win32/Release/VSRGEditor.tlog/rc.read.1.tlog
obj/Win32/Release/VSRGEditor.tlog/rc.command.1.tlog
obj/Win32/Release/VSRGEditor.tlog/link.write.1.tlog
obj/Win32/Release/VSRGEditor.tlog/link.read.1.tlog
obj/Win32/Release/VSRGEditor.tlog/link.command.1.tlog
obj/Win32/Release/VSRGEditor.tlog/CL.write.1.tlog
obj/Win32/Release/VSRGEditor.tlog/CL.read.1.tlog
obj/Win32/Release/VSRGEditor.tlog/CL.command.1.tlog
obj/Win32/Release/VSRGEditor.log
obj/Win32/Release/vc141.pdb
obj/Win32/Release/SongTimeHandler.obj
obj/Win32/Release/ofxImGuiLoggerChannel.obj
obj/Win32/Release/ofApp.obj
obj/Win32/Release/NoteHandler.obj
obj/Win32/Release/main.obj
obj/Win32/Release/imgui_draw.obj
obj/Win32/Release/imgui_demo.obj
obj/Win32/Release/imgui.obj
obj/Win32/Release/icon.res
obj/Win32/Release/Helpers.obj
obj/Win32/Release/Gui.obj
obj/Win32/Release/EngineVk.obj
obj/Win32/Release/EngineOpenGLES.obj
obj/Win32/Release/EngineGLFW.obj
obj/Win32/Release/EditorConfig.obj
obj/Win32/Release/ChartResourceImporter.obj
obj/Win32/Release/ChartEditor.obj
obj/Win32/Release/BPMLineHandler.obj
obj/Win32/Release/BaseTheme.obj
obj/Win32/Release/BaseEngine.obj
obj/Win32/Debug/VSRGEditor.tlog/CL.write.1.tlog
obj/Win32/Debug/vc141.pdb
bin/VSRGEditor.lib
bin/VSRGEditor.exp
bin/VSRGEditor.exe
bin/imgui.ini
.vs/VSRGEditor/v15/Solution.VC.db-wal
.vs/VSRGEditor/v15/Solution.VC.db-shm
.vs/VSRGEditor/v15/ipch/AutoPCH/fd7a92684e79ce7b/CHARTEDITOR.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/cd6cb943815b9fd4/MAIN.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/c4bbce13a7c9e525/EDITORCONFIG.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/998a8c9afbd7adbb/CHARTRESOURCEIMPORTER.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/7c44e36c651d3c2f/OFAPP.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/5e004a017bccea4/MAIN.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/566e7881aff0764e/SONGTIMEHANDLER.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/47b6e81fc52e767f/BPMLINEHANDLER.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/35a5461ed6e12d5/EDITORCONFIG.ipch
.vs/VSRGEditor/v15/ipch/AutoPCH/29382f0d2ef7270b/CHARTRESOURCEIMPORTER.ipch
.vs/VSRGEditor/v15/Browse.VC.opendb
.vs/VSRGEditor/v15/.suo
.vs/VSRGEditor/v15/ipch/AutoPCH/9a374df888359996/NOTEHANDLER.ipch
*.ipch
obj/Win32/Debug/SongHandler.obj
obj/Win32/Debug/VSRGEditor_debug.Build.CppClean.log
obj/Win32/Release/SongHandler.obj
obj/Win32/Debug/VSRGEditor.vcxproj.FileListAbsolute.txt
obj/Win32/Debug/VSRGEditor.tlog/link.15884.delete.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/link.32824.delete.1.tlog
obj/Win32/Debug/NoteSelectionHandler.obj
untitled_chart_editor.sln
untitled_chart_editor.vcxproj
untitled_chart_editor.vcxproj.filters
untitled_chart_editor.vcxproj.user
obj/Win32/Debug/untitled_chart_editor.log
obj/Win32/Debug/untitled.7FD42DF7.tlog/untitled_chart_editor.write.1u.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/untitled_chart_editor.lastbuildstate
obj/Win32/Debug/untitled.7FD42DF7.tlog/rc.write.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/rc.read.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/rc.command.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/link.write.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/link.read.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/link.delete.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/link.command.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/CL.write.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/CL.read.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/CL.command.1.tlog
obj/Win32/Debug/imgui_widgets.obj
obj/Win32/Debug/DefaultTheme.obj
bin/untitled_chart_editor_debug.pdb
bin/untitled_chart_editor_debug.lib
bin/untitled_chart_editor_debug.ilk
bin/untitled_chart_editor_debug.exp
bin/untitled_chart_editor_debug.exe
bin/imgui.ini
.vs/untitled_chart_editor/v16/Solution.VC.db-wal
.vs/untitled_chart_editor/v16/Solution.VC.db-shm
.vs/untitled_chart_editor/v16/Browse.VC.opendb
.vs/untitled_chart_editor/v16/.suo
bin/imgui.ini
bin/imgui.ini
bin/untitled_chart_editor.exe
bin/untitled_chart_editor.exp
bin/untitled_chart_editor.lib
obj/Win32/Release/DefaultTheme.obj
obj/Win32/Release/imgui_widgets.obj
obj/Win32/Release/NoteSelectionHandler.obj
obj/Win32/Release/untitled.7FD42DF7.tlog/CL.command.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/CL.read.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/CL.write.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/link.command.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/link.read.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/link.write.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/rc.command.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/rc.read.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/rc.write.1.tlog
obj/Win32/Release/untitled.7FD42DF7.tlog/untitled_chart_editor.lastbuildstate
obj/Win32/Release/untitled.7FD42DF7.tlog/untitled_chart_editor.write.1u.tlog
obj/Win32/Release/untitled_chart_editor.log
obj/Win32/Release/vc142.pdb
obj/Win32/Debug/untitled.7FD42DF7.tlog/link.17316.delete.1.tlog
obj/Win32/Debug/untitled.7FD42DF7.tlog/link.20464.delete.1.tlog
bin/imgui.ini
