
.vs/VSRGEditor/v16/.suo
*.db
.vs/VSRGEditor/v16/Browse.VC.opendb
.vs/VSRGEditor/v16/ipch/AutoPCH/12995cc1971b28e5/BASEENGINE.ipch
.vs/VSRGEditor/v16/ipch/AutoPCH/df7eab76c0c3bfec/MAIN.ipch
.vs/VSRGEditor/v16/Solution.VC.db-shm
.vs/VSRGEditor/v16/Solution.VC.db-wal
addons.make
bin/imgui.ini
bin/VSRGEditor_debug.exe
bin/VSRGEditor_debug.exp
bin/VSRGEditor_debug.ilk
bin/VSRGEditor_debug.lib
bin/VSRGEditor_debug.pdb
icon.aps
icon.rc
obj/Win32/Debug/BaseEngine.obj
obj/Win32/Debug/BaseTheme.obj
obj/Win32/Debug/BPMLineHandler.obj
obj/Win32/Debug/ChartEditor.obj
obj/Win32/Debug/ChartResourceImporter.obj
obj/Win32/Debug/EditorConfig.obj
obj/Win32/Debug/EngineGLFW.obj
obj/Win32/Debug/EngineOpenGLES.obj
obj/Win32/Debug/EngineVk.obj
obj/Win32/Debug/Gui.obj
obj/Win32/Debug/Helpers.obj
obj/Win32/Debug/icon.res
obj/Win32/Debug/imgui.obj
obj/Win32/Debug/imgui_demo.obj
obj/Win32/Debug/imgui_draw.obj
obj/Win32/Debug/main.obj
obj/Win32/Debug/NoteHandler.obj
obj/Win32/Debug/ofApp.obj
obj/Win32/Debug/ofxImGuiLoggerChannel.obj
obj/Win32/Debug/SongTimeHandler.obj
obj/Win32/Debug/vc142.pdb
obj/Win32/Debug/VSRGEditor.log
obj/Win32/Debug/VSRGEditor.tlog/CL.40312.write.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/CL.command.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/CL.read.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/link.command.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/link.read.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/link.write.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/rc.command.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/rc.read.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/rc.write.1.tlog
obj/Win32/Debug/VSRGEditor.tlog/VSRGEditor.lastbuildstate
obj/Win32/Debug/VSRGEditor.tlog/VSRGEditor.write.1u.tlog
VSRGEditor.sln
VSRGEditor.vcxproj
VSRGEditor.vcxproj.filters
VSRGEditor.vcxproj.user
